<div id="add-tournament-container">
	<h2 class="dash-updates">Add Tournament</h2>
	<div class="add-tournament-form">
		<%= form_for @event, html: { id: "new-tournament-f" } do |f| %>
			<%= f.hidden_field :event_type, value: "tournament" %>
      <div class="form-group">
        <label class="sr-only">Tournament Name</label>
        <%= f.text_field :tournament_name, placeholder: "Tournament Name", class: "form-control" %>
      </div>
      <div class="form-group">
        <label class="sr-only">Set Date for Order</label>
        <%= f.text_field :date, placeholder: "Enter date for ordering purposes", class: "form-control", id: "date-picker-setdate" %>
      </div>
			<div class="form-group">
				<label class="sr-only">Tournament Start Date</label>
				<%= f.text_field :tournament_start_date, placeholder: "Tournament Start Date", class: "form-control", id: "datepicker-t-start" %>
			</div>
			<div class="form-group">
				<label class="sr-only">Tournament End Date</label>
				<%= f.text_field :tournament_end_date, placeholder: "Tournament End Date", class: "form-control", id: "datepicker-t-end" %>
			</div>
			<div class="form-group">
    		<label class="sr-only">Arrive</label>
    		<div class="row">
      		<div class="col-md-3">
        		<%= f.text_field :arrival, class: "form-control", placeholder: "15" %>
      		</div>
      		<div class="col-md-9">
        		minutes before (Optional)
      		</div>
    		</div>
  		</div>
  		<div class="form-group">
    		<label class="sr-only">Game Type</label>
    		<%= f.select :game_type, options_for_select(["Scrimmage", "Tournament", "Regular Season"]), {prompt: "Select game type"}, class: "form-control" %>
  		</div>
  		<div class="form-group">
    		<label class="sr-only">Location</label>
    		<%= f.text_field :location, placeholder: "Add a location", class: "form-control" %>
  		</div>
  		<div class="form-group">
    		<label class="sr-only">Notes</label>
    		<%= f.text_area :notes, placeholder: "Add a note...", class: "form-control" %>
  		</div>
  		<%= f.submit "Save Tournament", name: "save-and-close", class: "btn-alt btn-primary" %>
  		<p class="cancel-btm" id="cancel-tournament-btn-btm">Cancel</p>
		<% end %>
	</div>
</div>