<div id="add-game-container">
<h2 class="dash-updates">Add Game</h2>
<div class="add-game-form">
  <%= form_for @event, html: { id: "new-game-f"} do |f| %>
  <%= f.hidden_field :event_type, value: "game" %>
  <div class="form-group">
    <label class="sr-only">Date</label>
    <%= f.text_field :date, placeholder: "Add date", class: "form-control", id: "datepicker" %>
  </div>
  <div class="form-group">
    <label class="sr-only">Start</label>
    <%= f.text_field :start_time, placeholder: "Start time", class: "form-control" %>
  </div>
  <div class="form-group">
    <label class="sr-only">Arrive</label>
    <div class="row">
      <div class="col-md-3">
        <%= f.text_field :arrival, class: "form-control", placeholder: "15" %>
      </div>
      <div class="col-md-9">
        minutes before (Optional)
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="sr-only">Opponent</label>
    <%= f.text_field :opponent, placeholder: "Opponent", class: "form-control" %>
  </div>
  <div class="form-group">
    <label class="sr-only">Home or Away</label>
    <%= f.select :home_away, options_for_select(%w[home away]), {prompt: "Select Home or Away"}, class: "form-control" %>
  </div>
  <div class="form-group">
    <label class="sr-only">Game Type</label>
    <%= f.select :game_type, options_for_select(["Scrimmage", "Tournament", "Regular Season"]), {prompt: "Select game type"}, class: "form-control" %>
  </div>
  <div class="form-group">
    <label class="sr-only">Location</label>
    <%= f.text_field :location, placeholder: "Add a location", class: "form-control" %>
  </div>
  <div class="form-group">
    <label class="sr-only">Notes</label>
    <%= f.text_area :notes, placeholder: "Add a note...", class: "form-control" %>
  </div>

  <%= f.submit "Save Game", name: "save-and-close", class: "btn-alt btn-primary" %>
  <p class="cancel-btm" id="cancel-game-btn-btm">Cancel</p>
  <% end %>
</div> 
</div>